{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" id="features">
    <div class="container">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
            <!-- <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-light bg-light fs-2 mb-3">
                <img src="/static/svg/" width="32" height="32"></img>
            </div> -->
                <h3 class="fs-2" style="color: white;">Automatização Inteligente</h3>
                <p style="color: white;">Nosso algoritmo avançado trabalha 24/7 para atrair seguidores relevantes para o seu perfil, aumentando sua visibilidade e engajamento.</p>
                <a href="#" class="icon-link">
                    <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div>
            <div class="feature col">
            <!-- <div class="feature-icon d-inline-flex align-items-center justify-content-center text-light bg-light fs-2 mb-3">
                <img src="/static/svg/" width="32" height="32"></img>
            </div> -->
                <h3 class="fs-2" style="color: white;">Segmentação Precisa</h3>
                <p style="color: white;">Segmentamos os usuários com base em interesses, localização e outros critérios para garantir que seus novos seguidores sejam genuinamente interessados no seu conteúdo.</p>
                <a href="#" class="icon-link">
                    <svg class="bi"><use xlink:href="/static/svg/"></use></svg>
                </a>
            </div>
            <div class="feature col">
                <!-- <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <img src="/static/svg/" width="32" height="32"></img>
                </div> -->
                <h3 class="fs-2" style="color: white;">Segurança e Confiabilidade</h3>
                <p style="color: white;">Priorizamos a segurança da sua conta. Nossa tecnologia é projetada para cumprir todas as diretrizes do Instagram, garantindo uma experiência livre de riscos.</p>
                <a href="#" class="icon-link">
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}