{% extends 'base.html' %}
{% include 'header.html' %}
{% block content %}
<link href="/static/styles.css" rel="stylesheets">
<div class="container" id="main_hero">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/static/images/sJzfZsL.jpg" alt="" width="250">
        <h1 class="display-5 fw-bold text-body-emphasis">Professional Instagram Bot</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Impulsione sua presença no Instagram com nossa solução avançada de automação de seguidores. Nosso serviço oferece uma maneira eficaz e confiável de aumentar sua base de seguidores de forma orgânica e autêntica.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('login_instagram') }}"><button  type="button" class="btn btn-primary btn-lg px-4 gap-3">Faça Login</button></a>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Informações</button>
          </div>
        </div>
      </div>
</div>
{% include 'features.html' %}
{% endblock %}